section:first-of-type {
    position: relative;

    article {
        position: relative;
        .texte {
            @include texte;
            p {
                padding-top: 1.5vw;
            }
        }

        .banderole {
            width: 100%;
            height: 15%;
            position: absolute;
            @include bandeau;
        }
    }

    h1 {
        position: absolute;
        z-index: 1;
        left: 2.5%;
        top: 0.5vw;
    }

    article:first-of-type{
        background-image: url(../img/familier.png);
        @include background-position;
        @include fondimage;
    }

    article:nth-of-type(2){
        background-image: url(../img/Mercenaires.png);
        @include fondimage;
        @include background-position;
    }

    article:last-of-type{

        .image-gauche {
            width: 100%;
            position: relative;
            transform: translateX(-25%);
        }

        .esprits {

            position: absolute;
            right: 10%;
            top: 50%;
            transform: translateY(-50%);

            h1 {
                top: -8.5vw;
            }

            div{
                display: flex;
                align-items: center;
                padding: 0.5vw;
            }

            h4 {
                color: white;
                font-family: Diablo;
                font-size: 1vw;
                padding-left: 0.2vw;
            }

            img{
                width: 8vw;
                position: relative;
            }
        }

        .centipede div, .gorille div, .jaguar div, .aigle div  {
            position: relative;
            display: block;
            width: 20vw;
        }

        .centipede div p, .gorille div p, .jaguar div p, .aigle div p {
            position: absolute;
            font-size: 1vw;
            opacity: 0;
            margin: 0;
            top: 40%;
            left: -1vw;
        }

        .centipede:hover p, .gorille:hover p, .jaguar:hover p, .aigle:hover p {
            animation: esprit-texte-start forwards $temps-esprits;
        }

        .centipede:hover h4, .gorille:hover h4, .jaguar:hover h4, .aigle:hover h4 {
            animation: esprit-titre-start forwards $temps-esprits;
        }

        .centipede:not(:hover) h4, .gorille:not(:hover) h4, .jaguar:not(:hover) h4, .aigle:not(:hover) h4 {
            animation: esprit-titre-stop forwards $temps-esprits;
        }

        .centipede:hover img, .gorille:hover img, .jaguar:hover img, .aigle:hover img {
            animation: esprit-image-start forwards $temps-esprits;
        }

        .centipede:not(:hover) img, .gorille:not(:hover) img, .jaguar:not(:hover) img, .aigle:not(:hover) img{
            animation: esprit-image-stop forwards $temps-esprits;
        }
    }
}