@charset "UTF-8";
/*Polices*/
/*Gros titres*/
@font-face {
  font-family: Diablo;
  src: url(../font/diablo.ttf);
}
/*Sous-titres*/
@font-face {
  font-family: Bildad;
  src: url(../font/Bildad.ttf);
}
/*Boutons*/
@font-face {
  font-family: DiabloLight;
  src: url(../font/DiabloLight.ttf);
}
/*Texte*/
@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Thin.ttf);
}
/*----------------*/
/*Couleurs*/
/*Temps*/
/*----------------*/
/*Ligne*/
/*-----------------*/
/*Mixin*/
/*Nouveautés texte*/
/*----------------*/
/*Familiers et Mercenaires*/
/*------------------------*/
/*Logo et bouton*/
/*-----------------------*/
/*Grid image*/
/*---------------------------------------*/
/*Animation*/
/*Menu*/
@keyframes menu-croix-haut-start {
  from {
    transform: rotate(0deg) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(0.5vw, 1.25vw);
  }
}
@keyframes menu-croix-bas-start {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(-45deg) translate(0.5vw, -1.25vw);
  }
}
/*-----------------*/
@keyframes menu-croix-haut-stop {
  from {
    transform: rotate(45deg) translate(0.5vw, 1.25vw);
  }
  to {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes menu-croix-bas-stop {
  from {
    transform: rotate(-45deg) translate(0.5vw, -1.25vw);
  }
  to {
    transform: rotate(0) translate(0, 0);
  }
}
/*------------------*/
/*Navigation*/
@keyframes navigation-start {
  from {
    left: 10vw;
  }
  to {
    left: -16vw;
  }
}
@keyframes navigation-stop {
  from {
    left: -16vw;
  }
  to {
    left: 10vw;
  }
}
/*bouton*/
@keyframes bouton-couleur-start {
  from {
    background-color: rgb(153, 255, 0);
    color: white;
    border: none;
  }
  to {
    background-color: black;
    color: rgb(153, 255, 0);
    border: 1px solid rgb(153, 255, 0);
  }
}
@keyframes bouton-couleur-stop {
  from {
    background-color: black;
    color: rgb(153, 255, 0);
    border: 1px solid rgb(153, 255, 0);
  }
  to {
    background-color: rgb(153, 255, 0);
    color: white;
    border: none;
  }
}
/*-------------------*/
@keyframes edition-prix-start {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
@keyframes edition-prix-stop {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}
/*---------------------------*/
@keyframes esprit-texte-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-----------------------------*/
@keyframes esprit-titre-start {
  from {
    transform: scale(1) translateY(0);
    padding-left: 0.2vw;
  }
  to {
    transform: scale(1.5) translateY(-1.5vw);
    padding-left: 2.5vw;
  }
}
@keyframes esprit-titre-stop {
  from {
    transform: scale(1.5) translateY(-1.5vw);
    padding-left: 2.5vw;
  }
  to {
    transform: scale(1) translateY(0);
    padding-left: 0.2vw;
  }
}
/*-----------------------------*/
@keyframes esprit-image-start {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2vw);
  }
}
@keyframes esprit-image-stop {
  from {
    transform: translateX(-2vw);
  }
  to {
    transform: translateX(0);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}
body h1 {
  font-family: Diablo;
  color: white;
  margin: 0;
  font-size: 5vw;
}
body h2 {
  font-family: DiabloLight;
  color: rgb(153, 255, 0);
  font-size: 2.5vw;
}
body p {
  font-family: Roboto;
  color: white;
  font-size: 1.4vw;
}

header {
  background-image: url(../img/fond.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 60vw;
  background-position-y: -4vw;
  overflow: hidden;
}
header .logo {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
}
header nav .menu {
  position: relative;
  width: 3.5vw;
  height: 2.5vw;
  top: 3vw;
  left: 91vw;
}
header nav .menu .bar {
  position: absolute;
  width: 100%;
  background-color: white;
  height: 2px;
}
header nav .menu .bar:first-of-type {
  top: 0;
}
header nav .menu .bar:nth-of-type(2) {
  top: 50%;
}
header nav .menu .bar:nth-of-type(3) {
  top: 100%;
}
header nav .menu:hover .bar:first-of-type {
  animation: menu-croix-haut-start forwards 0.7s;
}
header nav .menu:hover .bar:nth-of-type(2) {
  display: none;
}
header nav .menu:hover .bar:nth-of-type(3) {
  animation: menu-croix-bas-start forwards 0.7s;
}
header nav .menu:not(:hover) .bar:first-of-type {
  animation: menu-croix-haut-stop forwards 0.7s;
}
header nav .menu:not(:hover) .bar:nth-of-type(3) {
  animation: menu-croix-bas-stop forwards 0.7s;
}
header nav .menu:hover .liens {
  animation: navigation-start forwards 1s;
}
header nav .menu:not(:hover) .liens {
  animation: navigation-stop forwards 1s;
}
header nav .liens {
  position: relative;
  left: 10vw;
  top: 2.5vw;
  width: 22vw;
  height: 37vw;
}
header nav .liens a {
  text-decoration: none;
}
header nav .liens h1 {
  position: relative;
  top: 5vw;
  font-size: 2.5vw;
  font-family: DiabloLight;
  color: rgb(194, 194, 194);
  margin-bottom: 3.5vw;
}
header nav .liens .ligne {
  background-color: white;
  width: 50%;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  bottom: 7vw;
}
header nav .liens .social {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
}
header nav .liens img {
  width: 4vw;
  padding: 0.5vw;
}

section:first-of-type {
  position: relative;
}
section:first-of-type article {
  position: relative;
}
section:first-of-type article .texte {
  position: absolute;
  width: 35%;
  left: 3%;
  top: 10%;
  line-height: 2.5vw;
}
section:first-of-type article .texte p {
  padding-top: 1.5vw;
}
section:first-of-type article .banderole {
  width: 100%;
  height: 15%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  background-color: black;
}
section:first-of-type article .banderole img {
  width: 10%;
}
section:first-of-type article .banderole button {
  background-color: rgb(153, 255, 0);
  color: white;
  font-family: Bildad;
  height: 50%;
  width: 35vw;
  border-radius: 10px;
  border: none;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.65vw;
}
section:first-of-type article .banderole button:hover {
  animation: bouton-couleur-start forwards 1s;
}
section:first-of-type article .banderole button:not(:hover) {
  animation: bouton-couleur-stop forwards 1s;
}
section:first-of-type article .banderole a {
  text-decoration: none;
  white-space: nowrap;
}
section:first-of-type h1 {
  position: absolute;
  z-index: 1;
  left: 2.5%;
  top: 0.5vw;
}
section:first-of-type article:first-of-type {
  background-image: url(../img/familier.png);
  background-position-y: -4vw;
  background-position-x: 15vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 60vw;
}
section:first-of-type article:nth-of-type(2) {
  background-image: url(../img/Mercenaires.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  height: 60vw;
  background-position-y: -4vw;
  background-position-x: 15vw;
}
section:first-of-type article:last-of-type .image-gauche {
  width: 100%;
  position: relative;
  transform: translateX(-25%);
}
section:first-of-type article:last-of-type .esprits {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
}
section:first-of-type article:last-of-type .esprits h1 {
  top: -8.5vw;
}
section:first-of-type article:last-of-type .esprits div {
  display: flex;
  align-items: center;
  padding: 0.5vw;
}
section:first-of-type article:last-of-type .esprits h4 {
  color: white;
  font-family: Diablo;
  font-size: 1vw;
  padding-left: 0.2vw;
}
section:first-of-type article:last-of-type .esprits img {
  width: 8vw;
  position: relative;
}
section:first-of-type article:last-of-type .centipede div, section:first-of-type article:last-of-type .gorille div, section:first-of-type article:last-of-type .jaguar div, section:first-of-type article:last-of-type .aigle div {
  position: relative;
  display: block;
  width: 20vw;
}
section:first-of-type article:last-of-type .centipede div p, section:first-of-type article:last-of-type .gorille div p, section:first-of-type article:last-of-type .jaguar div p, section:first-of-type article:last-of-type .aigle div p {
  position: absolute;
  font-size: 1vw;
  opacity: 0;
  margin: 0;
  top: 40%;
  left: -1vw;
}
section:first-of-type article:last-of-type .centipede:hover p, section:first-of-type article:last-of-type .gorille:hover p, section:first-of-type article:last-of-type .jaguar:hover p, section:first-of-type article:last-of-type .aigle:hover p {
  animation: esprit-texte-start forwards 0.8s;
}
section:first-of-type article:last-of-type .centipede:hover h4, section:first-of-type article:last-of-type .gorille:hover h4, section:first-of-type article:last-of-type .jaguar:hover h4, section:first-of-type article:last-of-type .aigle:hover h4 {
  animation: esprit-titre-start forwards 0.8s;
}
section:first-of-type article:last-of-type .centipede:not(:hover) h4, section:first-of-type article:last-of-type .gorille:not(:hover) h4, section:first-of-type article:last-of-type .jaguar:not(:hover) h4, section:first-of-type article:last-of-type .aigle:not(:hover) h4 {
  animation: esprit-titre-stop forwards 0.8s;
}
section:first-of-type article:last-of-type .centipede:hover img, section:first-of-type article:last-of-type .gorille:hover img, section:first-of-type article:last-of-type .jaguar:hover img, section:first-of-type article:last-of-type .aigle:hover img {
  animation: esprit-image-start forwards 0.8s;
}
section:first-of-type article:last-of-type .centipede:not(:hover) img, section:first-of-type article:last-of-type .gorille:not(:hover) img, section:first-of-type article:last-of-type .jaguar:not(:hover) img, section:first-of-type article:last-of-type .aigle:not(:hover) img {
  animation: esprit-image-stop forwards 0.8s;
}

/*Polices*/
/*Gros titres*/
@font-face {
  font-family: Diablo;
  src: url(../font/diablo.ttf);
}
/*Sous-titres*/
@font-face {
  font-family: Bildad;
  src: url(../font/Bildad.ttf);
}
/*Boutons*/
@font-face {
  font-family: DiabloLight;
  src: url(../font/DiabloLight.ttf);
}
/*Texte*/
@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Thin.ttf);
}
/*----------------*/
/*Couleurs*/
/*Temps*/
/*----------------*/
/*Ligne*/
/*-----------------*/
/*Mixin*/
/*Nouveautés texte*/
/*----------------*/
/*Familiers et Mercenaires*/
/*------------------------*/
/*Logo et bouton*/
/*-----------------------*/
/*Grid image*/
/*---------------------------------------*/
/*Animation*/
/*Menu*/
@keyframes menu-croix-haut-start {
  from {
    transform: rotate(0deg) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(0.5vw, 1.25vw);
  }
}
@keyframes menu-croix-bas-start {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(-45deg) translate(0.5vw, -1.25vw);
  }
}
/*-----------------*/
@keyframes menu-croix-haut-stop {
  from {
    transform: rotate(45deg) translate(0.5vw, 1.25vw);
  }
  to {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes menu-croix-bas-stop {
  from {
    transform: rotate(-45deg) translate(0.5vw, -1.25vw);
  }
  to {
    transform: rotate(0) translate(0, 0);
  }
}
/*------------------*/
/*Navigation*/
@keyframes navigation-start {
  from {
    left: 10vw;
  }
  to {
    left: -16vw;
  }
}
@keyframes navigation-stop {
  from {
    left: -16vw;
  }
  to {
    left: 10vw;
  }
}
/*bouton*/
@keyframes bouton-couleur-start {
  from {
    background-color: rgb(153, 255, 0);
    color: white;
    border: none;
  }
  to {
    background-color: black;
    color: rgb(153, 255, 0);
    border: 1px solid rgb(153, 255, 0);
  }
}
@keyframes bouton-couleur-stop {
  from {
    background-color: black;
    color: rgb(153, 255, 0);
    border: 1px solid rgb(153, 255, 0);
  }
  to {
    background-color: rgb(153, 255, 0);
    color: white;
    border: none;
  }
}
/*-------------------*/
@keyframes edition-prix-start {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
@keyframes edition-prix-stop {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}
/*---------------------------*/
@keyframes esprit-texte-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-----------------------------*/
@keyframes esprit-titre-start {
  from {
    transform: scale(1) translateY(0);
    padding-left: 0.2vw;
  }
  to {
    transform: scale(1.5) translateY(-1.5vw);
    padding-left: 2.5vw;
  }
}
@keyframes esprit-titre-stop {
  from {
    transform: scale(1.5) translateY(-1.5vw);
    padding-left: 2.5vw;
  }
  to {
    transform: scale(1) translateY(0);
    padding-left: 0.2vw;
  }
}
/*-----------------------------*/
@keyframes esprit-image-start {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2vw);
  }
}
@keyframes esprit-image-stop {
  from {
    transform: translateX(-2vw);
  }
  to {
    transform: translateX(0);
  }
}
section:last-of-type h1, section:last-of-type h3 {
  text-align: center;
}
section:last-of-type h3 {
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
section:last-of-type .gameplay {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
}
section:last-of-type .gameplay h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
section:last-of-type .gameplay div {
  position: relative;
  width: 45vw;
  height: 35vw;
  margin: 3.5vw;
  margin-top: 8vw;
}
section:last-of-type .gameplay p {
  width: 100%;
}
section:last-of-type .gameplay iframe {
  width: 100%;
  height: 18vw;
  bottom: 0;
  position: absolute;
}
section:last-of-type h3 {
  font-family: Diablo;
  color: white;
  font-size: 2vw;
}
section:last-of-type .pass .grid {
  display: grid;
  height: 50vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2vw;
  margin: 3vw;
}
section:last-of-type .pass #gold {
  background-image: url(../img/passe3.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-position-x: -13vw;
  grid-column: 1/2;
  grid-row: 1/3;
}
section:last-of-type .pass #silver {
  background-image: url(../img/pass1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  grid-column: 2/3;
  grid-row: 1/2;
}
section:last-of-type .pass #emerald {
  background-image: url(../img/pass2.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  grid-column: 2/3;
  grid-row: 2/3;
  bottom: 0;
}
section:last-of-type .pass .edition {
  z-index: 2;
  position: absolute;
  font-family: Bildad;
  color: white;
  font-size: 5vw;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(153, 255, 0, 0.3);
  top: 100%;
}
section:last-of-type .pass .edition h6 {
  margin: 0;
  margin-bottom: 1vw;
  margin-top: 2vw;
}
section:last-of-type .pass #gold:hover .edition, section:last-of-type .pass #silver:hover .edition, section:last-of-type .pass #emerald:hover .edition {
  animation: edition-prix-start forwards 1s;
}
section:last-of-type .pass #gold:not(:hover) .edition, section:last-of-type .pass #silver:not(:hover) .edition, section:last-of-type .pass #emerald:not(:hover) .edition {
  animation: edition-prix-stop forwards 1s;
}
section:last-of-type .pass .ligne {
  background-color: white;
  width: 50%;
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

/*Polices*/
/*Gros titres*/
@font-face {
  font-family: Diablo;
  src: url(../font/diablo.ttf);
}
/*Sous-titres*/
@font-face {
  font-family: Bildad;
  src: url(../font/Bildad.ttf);
}
/*Boutons*/
@font-face {
  font-family: DiabloLight;
  src: url(../font/DiabloLight.ttf);
}
/*Texte*/
@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Thin.ttf);
}
/*----------------*/
/*Couleurs*/
/*Temps*/
/*----------------*/
/*Ligne*/
/*-----------------*/
/*Mixin*/
/*Nouveautés texte*/
/*----------------*/
/*Familiers et Mercenaires*/
/*------------------------*/
/*Logo et bouton*/
/*-----------------------*/
/*Grid image*/
/*---------------------------------------*/
/*Animation*/
/*Menu*/
@keyframes menu-croix-haut-start {
  from {
    transform: rotate(0deg) translate(0, 0);
  }
  to {
    transform: rotate(45deg) translate(0.5vw, 1.25vw);
  }
}
@keyframes menu-croix-bas-start {
  from {
    transform: rotate(0) translate(0, 0);
  }
  to {
    transform: rotate(-45deg) translate(0.5vw, -1.25vw);
  }
}
/*-----------------*/
@keyframes menu-croix-haut-stop {
  from {
    transform: rotate(45deg) translate(0.5vw, 1.25vw);
  }
  to {
    transform: rotate(0deg) translate(0, 0);
  }
}
@keyframes menu-croix-bas-stop {
  from {
    transform: rotate(-45deg) translate(0.5vw, -1.25vw);
  }
  to {
    transform: rotate(0) translate(0, 0);
  }
}
/*------------------*/
/*Navigation*/
@keyframes navigation-start {
  from {
    left: 10vw;
  }
  to {
    left: -16vw;
  }
}
@keyframes navigation-stop {
  from {
    left: -16vw;
  }
  to {
    left: 10vw;
  }
}
/*bouton*/
@keyframes bouton-couleur-start {
  from {
    background-color: rgb(153, 255, 0);
    color: white;
    border: none;
  }
  to {
    background-color: black;
    color: rgb(153, 255, 0);
    border: 1px solid rgb(153, 255, 0);
  }
}
@keyframes bouton-couleur-stop {
  from {
    background-color: black;
    color: rgb(153, 255, 0);
    border: 1px solid rgb(153, 255, 0);
  }
  to {
    background-color: rgb(153, 255, 0);
    color: white;
    border: none;
  }
}
/*-------------------*/
@keyframes edition-prix-start {
  from {
    top: 100%;
  }
  to {
    top: 0%;
  }
}
@keyframes edition-prix-stop {
  from {
    top: 0%;
  }
  to {
    top: 100%;
  }
}
/*---------------------------*/
@keyframes esprit-texte-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-----------------------------*/
@keyframes esprit-titre-start {
  from {
    transform: scale(1) translateY(0);
    padding-left: 0.2vw;
  }
  to {
    transform: scale(1.5) translateY(-1.5vw);
    padding-left: 2.5vw;
  }
}
@keyframes esprit-titre-stop {
  from {
    transform: scale(1.5) translateY(-1.5vw);
    padding-left: 2.5vw;
  }
  to {
    transform: scale(1) translateY(0);
    padding-left: 0.2vw;
  }
}
/*-----------------------------*/
@keyframes esprit-image-start {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-2vw);
  }
}
@keyframes esprit-image-stop {
  from {
    transform: translateX(-2vw);
  }
  to {
    transform: translateX(0);
  }
}
footer {
  position: relative;
  background-image: linear-gradient(to top, rgb(153, 255, 0), rgba(0, 255, 0, 0));
  margin-top: 5vw;
  height: 10vw;
}
footer h5 {
  font-family: Diablo;
  color: white;
  font-size: 1vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -2vw;
}
footer .banderole {
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 0;
  background-color: black;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 5vw;
  margin-left: 5vw;
  background-color: rgba(255, 255, 255, 0);
}
footer .banderole img {
  width: 10%;
}
footer .banderole button {
  background-color: rgb(153, 255, 0);
  color: white;
  font-family: Bildad;
  height: 50%;
  width: 35vw;
  border-radius: 10px;
  border: none;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.65vw;
}
footer .banderole button:hover {
  animation: bouton-couleur-start forwards 1s;
}
footer .banderole button:not(:hover) {
  animation: bouton-couleur-stop forwards 1s;
}
footer .banderole a {
  text-decoration: none;
  white-space: nowrap;
}
footer .banderole img {
  width: 15%;
}
footer .banderole button {
  font-size: 1.5vw;
  width: 20vw;
  height: 3vw;
}
footer .social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}
footer .social img {
  width: 4vw;
  margin: 2vw;
}/*# sourceMappingURL=Diablo.css.map */