@import '_Variables.scss';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: black;

    h1 {
        font-family: Diablo;
        color: white;
        margin: 0;
        font-size: 5vw;
    }

    h2 {
        font-family: DiabloLight;
        color: $vert;
        font-size: 2.5vw;
    }

    p {
        font-family: Roboto;
        color: white;
        font-size: 1.4vw;
    }
}

@import '_Header.scss';
@import '_Section1.scss';
@import '_Section2.scss';
@import '_Footer.scss';